body {
    height: 750px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-image: url("Instructions/background.jpg");
  }

  .display-4{
      font-weight: bold;
  }
  .navbar-brand{
      font-weight: bold;
      background-color:rgb(171, 235, 235);
      padding-left: 10px;
      padding-right: 10px;
  }

  .col{
    background-color: whitesmoke;

  }

